# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# NuGet
*.nupkg
.nuget/
packages/
*.lock.json

# IDE
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
nul

# Logs
*.log

# Build artifacts
*.dll
*.exe
*.pdb
!MusicEngineEditor.exe
